.funda {
    background-color: black;
    height: 100vh;
}
body {
    background-color: black;
    font-family: 'Anton', sans-serif;
}
.letras {
    color: yellow;
}
.cartas {
    width: 200px;
    height: 350px;
}
.cartas img {
    height: 250px;
    width: 100%;
}
.card-body {
    height: 100px;
}
.card-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.caja {
    width: 1200px;
}
.fav-item:hover {
    background-color: #cfe90c;
    color: black;
}
.fav {
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
   }
   
   .fav::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
   }
   
   .fav:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
   }
   
   .fav:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .25em var(--glow-color);
   }
   .heart {
    width: 30px;
    height: 30px;
   }
   .heart {
    border: none;
    background-color: transparent;
   }
   a {
    text-decoration: none;
   }
   .menu {
    background-color: black;
   }
   .cora text {
    font-size: 25px;
   }
   .x {
    border: none;
    background-color: transparent;
   }
   .vista1 {
    height: auto;
    color: #cfe90c;
    margin-top: 200px;
    margin-bottom: 80px;
    
   }
   .starwars {
    --glow-color: rgb(195, 246, 55);
    --glow-spread-color: rgba(92, 108, 40, 0.781);
    --enhanced-glow-color: rgb(233, 242, 128);
    --btn-color: rgb(120, 156, 4);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: black;
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
   }
   
   .starwars::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
   }
   
   .starwars:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
   }
   
   .starwars:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .25em var(--glow-color);
   }
::-webkit-scrollbar {
    width: 5px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
    background: black; /* Color del fondo de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
    background: #1a1d08; /* Color del indicador de desplazamiento */
    border-radius: 5px; /* Radio de borde del indicador */
}

::-webkit-scrollbar-thumb:hover {
    background: #cfe90c; /* Color del indicador de desplazamiento al pasar el cursor */
}
.sugus {
    width: 100px;
    height: 40px;
    padding-bottom: 4px;
    font-weight: 700;
    background: rgb(242, 246, 4);
    color: black;
    border-radius: .5rem;
    border-bottom: 2px solid rgb(6, 5, 7);
    border-right: 2px solid rgb(9, 6, 11);
    border-top: 2px solid white;
    border-left: 2px solid white;
    transition-duration: 1s;
    transition-property: border-top, 
       border-left, 
       border-bottom,
       border-right,
       box-shadow;
   }
   
   .sugus:hover {
    border-top: 2px solid rgb(240, 241, 236);
    border-left: 2px solid rgb(230, 232, 225);
    border-bottom: 2px solid rgb(195, 241, 7);
    border-right: 2px solid rgb(195, 241, 7);
    background: rgb(11, 11, 5);
    color: #cfe90c;
    box-shadow: rgba(227, 240, 46, 0.4) 5px 5px, rgba(214, 243, 29, 0.3) 10px 10px, rgba(233, 240, 46, 0.2) 15px 15px;
   }
 
